.productBody {
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}
.productBody:hover {
    box-shadow: 0 0 40px gray;
}
.productBody:hover > .productBody__cartButton {
    display: block;
}
.productBody_name {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    margin: 20px 0 0;
}
.productBody_price {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    margin: 0;
}
.productBody__imageBody {
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
}
.imageBody_image {
    width: 100%;
}
.productBody__cartButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5ECE7B;
    position: absolute;
    bottom: 70px;
    right: 30px;
    box-shadow: 0 0 10px gray;
    display: none;
}
.cartButton_image {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
