.sizeItem, .sizeItem_active {
    width: 65px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: inline-block;
    margin-right: 12px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
}
.sizeItem:hover, .sizeItem_active {
    background-color: #1D1F22;
    color: #fff;
}
