.sizeItem {
    width: 25px;
    height: 25px;
    border: 1px solid #1D1F22;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
}
.sizeItem:hover {
    background-color: #1D1F22;
    color: #fff;
}
